.has-custom-border{
    border: solid 1px #FCE7AE;
}

.has-mg-right-20{
    margin-right: 20px;
}
.has-mg-top-20{
    margin-top: 20px;
}

p.has-gray-text {
    font-size: 12px;
    margin-bottom: 5px;
}